body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:606px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:25px;
  width:366px;
  height:90px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:362px;
  word-wrap:break-word;
}
#u940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:50px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:286px;
  width:30px;
  height:50px;
  font-family:'Bahnschrift Bold', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:26px;
  word-wrap:break-word;
}
#u942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:50px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Bold', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:286px;
  width:30px;
  height:50px;
  font-family:'Bahnschrift Bold', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:26px;
  word-wrap:break-word;
}
#u944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:533px;
  width:50px;
  height:50px;
  font-family:'High Tower Text Bold', 'High Tower Text Обычный', 'High Tower Text';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:46px;
  word-wrap:break-word;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:118px;
  width:255px;
  height:75px;
  font-size:16px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:251px;
  word-wrap:break-word;
}
#u949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:196px;
  width:255px;
  height:75px;
  font-size:16px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:251px;
  word-wrap:break-word;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:274px;
  width:255px;
  height:75px;
  font-size:16px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:251px;
  word-wrap:break-word;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:352px;
  width:255px;
  height:75px;
  font-size:16px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:251px;
  word-wrap:break-word;
}
#u955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:430px;
  width:255px;
  height:75px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:508px;
  width:255px;
  height:75px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:118px;
  width:75px;
  height:75px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:71px;
  word-wrap:break-word;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:196px;
  width:75px;
  height:75px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:71px;
  word-wrap:break-word;
}
#u963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:274px;
  width:75px;
  height:75px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:71px;
  word-wrap:break-word;
}
#u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:352px;
  width:75px;
  height:75px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:430px;
  width:75px;
  height:75px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:508px;
  width:75px;
  height:75px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:118px;
  width:30px;
  height:75px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:30px;
  width:71px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  word-wrap:break-word;
  transform-origin:35px 7,5px;
  -ms-transform-origin:35px 7,5px;
  -moz-transform-origin:35px 7,5px;
  -webkit-transform-origin:35px 7,5px;
}
#u973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:196px;
  width:30px;
  height:75px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:30px;
  width:71px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  word-wrap:break-word;
  transform-origin:35px 7,5px;
  -ms-transform-origin:35px 7,5px;
  -moz-transform-origin:35px 7,5px;
  -webkit-transform-origin:35px 7,5px;
}
#u975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:274px;
  width:30px;
  height:75px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:30px;
  width:71px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  word-wrap:break-word;
  transform-origin:35px 7,5px;
  -ms-transform-origin:35px 7,5px;
  -moz-transform-origin:35px 7,5px;
  -webkit-transform-origin:35px 7,5px;
}
#u977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:352px;
  width:30px;
  height:75px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:430px;
  width:30px;
  height:75px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:508px;
  width:30px;
  height:75px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:26px;
  width:128px;
  height:41px;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:118px;
  width:255px;
  height:75px;
  font-size:16px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:251px;
  word-wrap:break-word;
}
#u989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#5E5E5E;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:196px;
  width:255px;
  height:75px;
  font-size:16px;
  color:#5E5E5E;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:251px;
  word-wrap:break-word;
}
#u991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:274px;
  width:255px;
  height:75px;
  font-size:16px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:352px;
  width:255px;
  height:75px;
  font-size:16px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:251px;
  word-wrap:break-word;
}
#u995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:430px;
  width:255px;
  height:75px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:508px;
  width:255px;
  height:75px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:118px;
  width:75px;
  height:75px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:196px;
  width:75px;
  height:75px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:71px;
  word-wrap:break-word;
}
#u1003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:274px;
  width:75px;
  height:75px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:430px;
  width:75px;
  height:75px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:508px;
  width:75px;
  height:75px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:118px;
  width:30px;
  height:75px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:30px;
  width:71px;
  visibility:hidden;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  word-wrap:break-word;
  transform-origin:35px 7,5px;
  -ms-transform-origin:35px 7,5px;
  -moz-transform-origin:35px 7,5px;
  -webkit-transform-origin:35px 7,5px;
}
#u1011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:196px;
  width:30px;
  height:75px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:30px;
  width:71px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  word-wrap:break-word;
  transform-origin:35px 7,5px;
  -ms-transform-origin:35px 7,5px;
  -moz-transform-origin:35px 7,5px;
  -webkit-transform-origin:35px 7,5px;
}
#u1013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:274px;
  width:30px;
  height:75px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:30px;
  width:71px;
  visibility:hidden;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  word-wrap:break-word;
  transform-origin:35px 7,5px;
  -ms-transform-origin:35px 7,5px;
  -moz-transform-origin:35px 7,5px;
  -webkit-transform-origin:35px 7,5px;
}
#u1015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:430px;
  width:30px;
  height:75px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:508px;
  width:30px;
  height:75px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:352px;
  width:30px;
  height:75px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:30px;
  width:71px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  word-wrap:break-word;
  transform-origin:35px 7,5px;
  -ms-transform-origin:35px 7,5px;
  -moz-transform-origin:35px 7,5px;
  -webkit-transform-origin:35px 7,5px;
}
#u1021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:352px;
  width:75px;
  height:75px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:71px;
  word-wrap:break-word;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:26px;
  width:128px;
  height:41px;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:26px;
  width:94px;
  height:36px;
}
#u1026_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:100px;
  height:42px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u1028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:0px;
  width:118px;
  height:108px;
  visibility:hidden;
}
#u1030_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:124px;
  height:114px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:113px;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u1034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:118px;
  height:36px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:118px;
  height:36px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:0px;
  width:123px;
  height:288px;
  visibility:hidden;
}
#u1038_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:129px;
  height:294px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:293px;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:123px;
  height:36px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:123px;
  height:36px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:123px;
  height:36px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:123px;
  height:36px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:123px;
  height:36px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:216px;
  width:123px;
  height:36px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:252px;
  width:123px;
  height:36px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:36px;
  width:116px;
  height:144px;
  visibility:hidden;
}
#u1056_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:122px;
  height:150px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:149px;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:116px;
  height:36px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:116px;
  height:36px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:116px;
  height:36px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
